name: Android CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: install libusb
      run: wget https://github.com/libusb/libusb/archive/v1.0.23.zip && unzip v1.0.23.zip
    - name: write local properties
      run: echo "libusb.dir=$GITHUB_WORKSPACE/libusb-1.0.23" > $GITHUB_WORKSPACE/local.properties
    - name: Build with Gradle
      run: ./gradlew build
    - name: coverage report
      run: ./gradlew build -x bintray jacocoTestReport --stacktrace
    - name: codecov
      run: bash <(curl -s https://codecov.io/bash)
