<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jahnen.libaums.core.httpserver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <service android:name="me.jahnen.libaums.server.http.UsbFileHttpServerService" />

    </application>

</manifest>
